<h1>Customers list</h1>

<table>

  <tr>
    <th>Name</th>
    <th>Postal code</th>
    <th>Actions</th>
  </tr>

  <% for customer in @customers %>
  <tr>
  <td><%= customer.name %></td>
  <td><%= customer.postal_code %></td>
  <td>
    <!-- <a href="/customers/edit_customer/<%= customer.id%>">Edit</a> -->
    <form method="get" action="customers/edit_customer/<%= customer.id%>">
      <input class="btn btn--table_button" type="submit" value="EDIT"/>
    </form>
    <!-- <a href="/customers/delete_customer/<%= customer.id%>">Delete</a> -->
    <form method="get" action="customers/delete_customer/<%= customer.id%>">
      <input class="btn btn--del" type="submit" value="DELETE"/>
    </form>
  </td>
  </tr>
  <% end %>

</table>

<br>
<!-- <a href="/customers/add_customer">Add new customer here</a> -->
<form method="get" action="customers/add_customer">
  <input class="btn btn--main" type="submit" value="Add new customer"/>
</form>
