<h1>Rental details</h1>
<table>

  <tr>
    <th>Rental id</th>
    <th>Customers</th>
    <th>Books</th>
    <th>Actions</th>
  </tr>

<%for rental in @rentals%>
<tr>
  <th><%= rental.id%></th>
<th><%=rental.customer.name%></th> <!-- rental object, customer method, name property -->
<th><%=rental.book.title%> </th>
<th>
  <!-- <a href="/rentals/delete_rental/<%= rental.id %>">Return book</a> -->
  <form method="get" action="rentals/delete_rental/<%= rental.id %>">
    <input class="btn btn--table_button" type="submit" value="RETURN BOOK"/>
  </form>
</th>
</tr>
<%end%>

</table>

<br>
<!-- <a href="/rentals/add_rental">Add new rental here</a> -->
<form method="get" action="rentals/add_rental">
  <input class="btn btn--main" type="submit" value="Add new rental"/>
</form>
