<h1>Edit Book</h1>
<form method="post" action="/books/edit_book/<%= @book.id %>">

  <label for = "title">Book Title:</label>
  <input id = "title" type = "text" name = "title" value = "<%= @book.title %>"/>

  <label for = "category">Book Category:</label>
  <select id = "category" name = "category">
      <option value = "Sci-Fi" <%= "selected" if @book.category == "Sci-Fi"%>>Sci-Fi</option>
      <option value = "Health" <%= "selected" if @book.category == "Health"%>>Health</option>
      <option value = "Travel" <%= "selected" if @book.category == "Travel"%>>Travel</option>
      <option value = "Spirituality" <%= "selected" if @book.category == "Spirituality"%>>Spirituality</option>
      <option value = "Cooking" <%= "selected" if @book.category == "Cooking"%>>Cooking</option>
      <option value = "Biography" <%= "selected" if @book.category == "Biography"%>>Biography</option>
      <option value = "History" <%= "selected" if @book.category == "History"%>>History</option>
      <option value = "Art" <%= "selected" if @book.category == "Art"%>>Art</option>
      <option value = "Poetry" <%= "selected" if @book.category == "Poetry"%>>Poetry</option>
      <option value = "Comics" <%= "selected" if @book.category == "Comics"%>>Comics</option>
  </select>

  <input class="btn btn--main" type="submit" value="Edit" />

</form>
