<h1> Books List </h1>
<table>

  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Availability</th>
    <th>Actions</th>
  </tr>

  <% for book in @books %>
  <tr>
    <td><%= book.title %> </td>
    <td><%= book.category %> </td>

    <% if book.is_available == TRUE %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>

    <td>
      <form method="get" action="books/edit_book/<%= book.id %>">
        <input type="submit" value="EDIT"/>
      </form>
      <!-- <a href="books/edit_book/<%= book.id %>">Edit</a> -->

      <% if book.is_available == TRUE %>
      <form method="get" action="books/delete_book/<%= book.id %>">
        <input type="submit" value="REMOVE"/>
      </form>
      <!-- <a href="books/delete_book/<%= book.id %>">Remove</a> <br> -->
      <% end %>
    </td>
  </tr>
  <% end %>

</table>
<br>
<!-- <a href = "books/add_book"> Add new book here </a> -->
<form method="get" action="books/add_book">
  <input type="submit" value="Add Book"/>
</form>
