<h1> Book List </h1>
<h3>(all books - available & rented)</h3>

<form method="get" action="/books/search">

  <label for = "searchbar">Keywords:</label>
  <input id = "searchbar" type = "text" placeholder="Search here.." name="keywords"/>

  <label for = "category">Category:</label>
  <select id = "category" name = "category">
    <option value = ""></option>
    <option value = "Sci-Fi">Sci-Fi</option>
    <option value = "Health">Health</option>
    <option value = "Travel">Travel</option>
    <option value = "Spirituality">Spirituality</option>
    <option value = "Cooking">Cooking</option>
    <option value = "Biography">Biography</option>
    <option value = "History">History</option>
    <option value = "Art">Art</option>
    <option value = "Poetry">Poetry</option>
    <option value = "Comics">Comics</option>
  </select>

    <input class="search" type="submit" value="SEARCH"/>

</form>

<table>

  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Availability</th>
    <th>Actions</th>
  </tr>

  <% for book in @books %>
  <tr>
    <td><%= book.title %> </td>
    <td><%= book.category %> </td>

    <% if book.is_available == TRUE %>
    <td>Yes</td>
    <% else %>
    <td>No</td>
    <% end %>

    <td>
      <form method="get" action="books/edit_book/<%= book.id %>">
        <input class="btn btn--table_button" type="submit" value="EDIT"/>
      </form>
      <!-- <a href="books/edit_book/<%= book.id %>">Edit</a> -->

      <% if book.is_available == TRUE %>
      <form method="get" action="books/delete_book/<%= book.id %>">
        <input class="btn btn--del" type="submit" value="REMOVE"/>
      </form>
      <!-- <a href="books/delete_book/<%= book.id %>">Remove</a> <br> -->
      <% end %>
    </td>
  </tr>
  <% end %>

</table>
<br>
<!-- <a href = "books/add_book"> Add new book here </a> -->
<form method="get" action="books/add_book">

  <input class="btn btn--main" type="submit" value="Add Book"/>

</form>

<h5>* you can only remove books that are not rented </h5>
